/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:focus {
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
  /* width:300px o !important; */
}

p {
  margin-bottom: 0rem !important;
}

:focus {
  box-shadow: none !important;
  outline: none !important;
}
